@charset "UTF-8";

body{
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(fundo03.jpg);
}
    

#texto {
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.438);
}

#logo {
    background-size: 300px 200px;
}

#trabalhos  a {
    
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

footer > a { 
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}